<br>
<form (submit)="SubmitForm()" >
  <fieldset>
    <legend>Enter your details</legend>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" class="form-control" [(ngModel)]="phone" name="phone" placeholder="Enter Mobile Number">
    </div>
    <div class="form-group">
      <!-- for food  -->
      <label class="control-label">Food Center</label>
      <input *ngIf="foodcenter" class="form-control" type="text" placeholder="Food center" [(ngModel)]="foodcenter" name="foodcenter" [disabled]="true">
      <div *ngIf="!foodcenter">
        <button  type="button" class="btn btn-outline-primary" [routerLink]="['/dashboard']">Choose Food Center</button>
      </div>
    </div>
    <div class="form-group">
      <!-- for Medical room -->
      <label class="control-label">Medical Center</label>
      <input *ngIf="medcenter" class="form-control" type="text" placeholder="Medical center" [(ngModel)]="medcenter" name="medcenter" [disabled]="true">

      <div *ngIf="!medcenter">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/dashboard/medcenters']">Choose Medical Center</button> 
      </div>

    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

    