<br>

<div class="text-center" *ngIf="show" style="margin-top: 50px">
  <img src="http://localhost:3000/load.svg">
</div>

<div class="row" *ngIf="!show" >
  <div class="col" *ngFor="let obj of dataArray">
    <div class="card mb-3" style="min-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">{{obj.name}}</h5>
        <h6 class="card-subtitle text-muted">Availability: {{obj.available}}</h6>
      </div>
      <agm-map [latitude]="obj.location.lat" [longitude]="obj.location.lng" [zoom]="zoom" >
        <agm-marker [latitude]="obj.location.lat" [longitude]="obj.location.lng"></agm-marker>
      </agm-map>
      <div class="card-body">
        <button type="button" class="btn btn-primary " (click)="setMed(obj)" [routerLink]="['/dashboard/form']">Register for medical facility</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Contact No. : {{obj.phone}}</li>
      </ul>
      <div class="card-footer text-muted">
        {{obj.duration}} days ago
      </div>
    </div>
  </div>
</div>
