<form (submit)="onFoodformSubmit()">
	<br>
  <legend>Food Form</legend>
    
	<div class="form-group">
      <label >Name</label>
      <input [(ngModel)]="name" name="name" type="name" class="form-control" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" class="form-control" placeholder="Enter Mobile Number" [(ngModel)]="phone" name="phone">
    </div>

    <!-- <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" name="email">
    </div> -->

    <div class="form-group">
      <label>Location</label>
      <button type="button" (click)="setMarkerToCurrentLocation()" class="btn btn-secondary" style="margin: 20px">Choose Current Location</button>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="onChooseLocation($event)">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
      </agm-map>
      
    </div>

    <div class="form-group">
      <label>Availability</label>
      <input type="number" class="form-control" placeholder="Enter Available Food Items" [(ngModel)]="available" name="available">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>