
<br>


<div class="text-center" *ngIf="loaderShow" style="margin-top: 50px">
  <svg width="200px" height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#000000" transform="rotate(5.03496 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>

  <!-- <img src="http//:localhost/static/load.svg"> -->

</div>

<div *ngIf="errorShow" class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap! </strong> <a [routerLink]="['/dashboard/foodcenter']" class="alert-link">Looks like Internet Connection not working! </a> try Reloading.
</div>


<div *ngIf="user && !loaderShow && !errorShow">
	<h2 class="page-header"> {{user.name}}</h2>

	<ul class="list-group">
		<li class="list-group-item"> Username: {{user.username}}</li>
		<li class="list-group-item">Email: {{user.email}}</li>
	</ul>
  <br>
  <h4>Center Registered</h4>
  <div class="col" *ngFor="let obj of centreArray">
    <div class="card mb-3" style="min-width: 20rem;">
      <div *ngIf="obj.distance" class="card-header">Distance : {{obj.distance | number: '1.2-3'}} Kms</div>
      <div class="card-body">
        <h5 class="card-title">{{obj.name}}</h5>
        <h6 class="card-subtitle text-muted">Availability: {{obj.available}}</h6>
        <br>
        <h6 class="card-subtitle text-muted">type: {{obj.type}}</h6>
      </div>
      <agm-map [latitude]="obj.location.lat" [longitude]="obj.location.lng" [zoom]="zoom" >
        <agm-marker [latitude]="obj.location.lat" [longitude]="obj.location.lng"></agm-marker>
      </agm-map>
      <!-- <div class="card-body">
        <button type="button" class="btn btn-primary " (click)="setMed(obj)" [routerLink]="['/dashboard/form']">Register for medical facility</button>
      </div> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Contact No. : {{obj.phone}}</li>
      </ul>

    </div>
  </div>
</div>
<!-- <p> hello</p> -->
