
<br>


<div class="text-center" *ngIf="loaderShow" style="margin-top: 50px">
  <svg width="200px" height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#000000" transform="rotate(5.03496 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>

  <!-- <img src="http//:localhost/static/load.svg"> -->

</div>

<div *ngIf="errorShow" class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap! </strong> <a [routerLink]="['/dashboard/foodcenter']" class="alert-link">Looks like Internet Connection not working! </a> try Reloading.
</div>


<div *ngIf="user && !loaderShow && !errorShow">
	<h2 class="page-header"> {{user.name}}</h2>

	<ul class="list-group">
		<li class="list-group-item"> Username: {{user.username}}</li>
		<li class="list-group-item">Email: {{user.email}}</li>
	</ul>
</div>
<!-- <p> hello</p> -->