<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand" >Dashboard</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/foodcenters']">Food Centers</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/medcenters']">Medical Centers</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchInput"  (ngModelChange)="nameSearch($event)" name="searchInput" placeholder="Search">
      <!-- <button class="btn btn-secondary my-2 my-sm-0" (click)="nameSearch()" type="submit">Search</button> -->
      <button class="btn btn-primary my-sm-0" (click)="locationSearch()" type="submit">Near Me</button>
    </form>
    
  </div>
</nav>
